<div class="page-title">
  <p>Quem Somos?</p>
</div>
<div class="page-text">
  <p>
    Somos três amigas que amam viajar, conhecer novos lugares e desfrutar a vida. E foi desta paixão e da vontade de compartilhar maravilhosas experiências que nasceu a Vita Spettacolare: uma agência de turismo onde transformamos seu momento de lazer num momento mais que especial: Único!<br><br>
  </p>
  <p>
    Faremos sua viagem maravilhosa: do seu jeito, respeitando os seus desejos, realizando seus sonhos, no seu tempo!<br><br>
  </p>
  <p>
    A vida deve ser repleta de momentos especiais - afinal de contas, é disso que ela é feita: momentos.......<br><br>
  </p>
  <p>
    Que tal tomar um café conosco e discutir possibilidades? 
  </p>
</div>